body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
    color: darkblue;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: darkblue;
    text-decoration: highlight;
  background
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

section h2 {
    color: pink;
}

address {
    font-style: normal;
}